*{
    box-sizing: border-box;
}
body{
    margin : 20px 12px 10px;
    font-size: medium;
    padding: 18px;

}
.container{
    background-color:#b7e57694 ;
    
    padding: 20px 15px 12px 10px;
    margin: 90px 80px;
}
h1{
    background-color:#eefca9 ;
    border: solid gray 2px;
    border-radius: 3px;
    padding: 60px 60px 60px;
    margin: 90px 80px;
    font-weight: 100%;
    font-size: none;
}
